body {
	background-color: black;
}

header{
  background-color: rgba(0, 0, 0, 0.7);
}

header h1{
  color: white;
}

nav{
  background-color: rgba(0, 35, 76, 0.9);
}

nav a {
	color: #C2D8F8;
	margin-bottom: 3rem;
}

nav a:hover{
	color:white;
}

.dark, .light{
	border:0;
}

.dark{
  display:none;
}

h2{
  color:white;
}

p{
  color:white;
}

footer{
	background-color: #00234C;
}


.socials i{
	color:white;
}

.socials i:hover{
	color:#C2D8F8;
}

button{
	background-color:white;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after, .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color:white;
}