@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
	background-color: white;
}

h1, p {
	color: #363534;
}

nav{
  /*background-color: rgba(194, 216, 248, 0.9);*/
}

nav a {
	color: #00234C;
	margin-bottom: 3rem;

}

/*nav a:hover{
	color:white;
}*/

.dark, .light{
	border:0;
}

.light{
	display:none;
}

footer{
	background: linear-gradient(to bottom, rgba(194,214,248,1) 0%, rgba(132,175,235,1) 100%);
}

footer p{
	color:#00234C;
}

.socials i{
	color:#00234C;
}
